<footer class="footer">
  <div class="inner-flex">
    <div class="footer-column">
      <h6>CARDS</h6>
      <hr>
      <ul>
        <li>
          <a class="footer-link">Advanced Search</a>
        </li>
        <li>
          <a class="footer-link">Syntax Guide</a>
        </li>
        <li>
          <a class="footer-link">All Sets</a>
        </li>
        <li>
          <a routerLink="/random" class="footer-link">Random Card</a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <h6>SCRYFALL</h6>
      <hr>
      <ul>
        <li>
          <a class="footer-link">Slack & Discord Bots</a>
        </li>
        <li>
          <a class="footer-link">Site FAQs & Help</a>
        </li>
        <li>
          <a class="footer-link">Scryfall Blog</a>
        </li>
        <li>
          <a class="footer-link">Scryfall Tagger</a>
        </li>
        <li>
          <a class="footer-link">Art Game</a>
        </li>
        <li>
          <a class="footer-link">Bolas Game</a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <h6>ACCOUNT</h6>
      <hr>
      <ul>
        <li>
          <a class="footer-link">Your Account</a>
        </li>
        <li>
          <a class="footer-link">Register</a>
        </li>
        <li>
          <a href="https://scryfall.com/docs/terms" class="footer-link">Terms of Service</a>
        </li>
        <li>
          <a href="https://scryfall.com/contact" class="footer-link">Contact Us</a>
        </li>
        <li>
          <a href="https://scryfall.com/docs/privacy" class="footer-link">Privacy & Security</a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <h6>DEVELOPERS</h6>
      <hr>
      <ul>
        <li>
          <a href="https://scryfall.com/docs/api" class="footer-link">API Documentation</a>
        </li>
        <li>
          <a href="https://scryfall.com/docs/api/cards" class="footer-link">Card Objects</a>
        </li>
        <li>
          <a href="https://scryfall.com/docs/api/images" class="footer-link">Card Imagery</a>
        </li>
        <li>
          <a href="https://scryfall.com/docs/api/bulk-data" class="footer-link">Bulk Data</a>
        </li>
        <li>
          <a href="https://scryfall.com/blog/category/api" class="footer-link">API Changelog</a>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <h6>MORE</h6>
      <hr>
      <ul>
        <li>
          <a href="https://scryfall.com/donate" class="footer-link">Donate to Scryfall</a>
        </li>
        <li>
          <a href="https://twitter.com/scryfall" class="footer-link">Twitter</a>
        </li>
        <li>
          <a href="https://github.com/scryfall" class="footer-link">Github</a>
        </li>
        <li>
          <a href="https://www.reddit.com/user/Scryfall/" class="footer-link">Reddit</a>
        </li>
      </ul>
    </div>
    <div class="footer-legal">
      <p>Portions of Scryfall are unofficial Fan Content permitted under the Wizards of the Coast Fan Content Policy. The literal and graphical information presented on this site about Magic: The Gathering, including card images, the mana symbols, and Oracle text, is copyright Wizards of the Coast, LLC, a subsidiary of Hasbro, Inc. Scryfall is not produced by, endorsed by, supported by, or affiliated with Wizards of the Coast.</p>
      <p>The Slack, Discord, Cash App, PayPal, and Patreon logos are copyright their respective owners. Scryfall is not produced by or endorsed by these services.</p>
      <p>Card prices and promotional offers represent daily estimates and/or market values provided by our affiliates. Absolutely no guarantee is made for any price information. See stores for final prices and details.</p>
      <p>All other content © 2022 Scryfall, LLC.</p>
    </div>
  </div>
</footer>
