.search-bar {
  display: block;
  margin: auto;
  padding: 12px 14px 12px 62px;
  height: 37px;
  width: 500px;
  background-color: #242031;
  border: 1px solid rgba(255,255,255,0.25);
  color: #D7D7D7;
  font-size: xx-large;
  line-height: 1.25;
  border-radius: 2px;
}

.logo {position: absolute;height: 47px;width: 50px;left: 6.3rem;top: 5.5rem;cursor: pointer;}
.search-bar:focus {color: #FFF;border-color: rgba(255,255,255,0.45);background-color: #2d283d;outline: none;}
.center-items {position: absolute;top: 50%;left: 50%;-ms-transform: translateY(-50%) translateX(-50%);transform: translateY(-70%) translateX(-50%);width: 60%;}
.home-page {position: relative;text-align: center;padding: 0 5%;}
.home-page h1 {font-size: 32px;font-family: "Lato", Arial, Helvetica, sans-serif;}
.home-page strong {font-weight: normal;}
.home-page-title {font-size: 24px;font-weight: 200;color: #FDFDFD;}
h1 {display: block;font-size: 2em;margin-block-start: 0.67em;margin-block-end: 0.67em;margin-inline-start: 0;margin-inline-end: 0;font-weight: bold;}
.inner-flex {
  padding: 0 5%;
  flex-flow: column nowrap;
  height: 100vh;
  min-height: 600px;
  background-position: bottom -140px center;
  background-size: 665px auto;
}

.btn-links {
  color: #FFF;
  background-color: rgba(255,255,255,0.09);
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%);
  transition: color, border-color, background-color, fill;
  transition-duration: 50ms;
  margin: 6px 0 0 6px;
}

.home-page-links {margin-top: 23px;}

.pill {
  font-size: 11px;
  margin: 0 8px 0 0;
  padding: 0 6px;
  color: #FFFFFF;
  text-decoration: none !important;
  display: inline-block;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  width: 39px;
  height: 16px;
  position: absolute;
  left: 25%;
  background-color: #F64800;
}

.home-page-news {
  margin: 12px 0 0;
  display: block;
}

.home-page-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFFCC;
  text-decoration: none;
  font-size: 14px;
}

.home-page-item:hover {color: #ffffff;}

.home-page-cards {
  height: 160px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.cards {
  height: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 730px;
}

.card {
  border-radius: 4.75% / 3.5%;
  background-image: -webkit-repeating-linear-gradient(145deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
  background-image: -o-repeating-linear-gradient(145deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
  background-image: repeating-linear-gradient(-55deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
  display: inline;
  height: 234px;
  width: 168px;
  cursor: pointer;
  margin: 0 3px;
  position: relative;
}

.ncc {top: 10%;}
.war {top: 2%;}
.khm {top: 5%;}
.dom {top: 18%;right: 5%;}
.cmr {bottom: 128%;right: 7%;}
.stx {bottom: 138%;right: 7.5%;}
.aer {bottom: 125%;right: 7%;}
.card:hover {transform: translateY(-5%);transition: .4s ease-in-out;}

