<div class="home-page">
  <div class="inner-flex">
    <div class="center-items">
      <h1 class="home-page-title">
        <strong>Scryfall</strong>
        is a powerful
        <strong>Magic:&nbsp;The&nbsp;Gathering</strong>
        card&nbsp;search</h1>
      <form class="search-form">
        <img routerLink="/" src="assets/images/logo.png" alt="..." class="logo">
        <input type="text" class="search-bar" [(ngModel)]="searchValue" (change)="search()" [ngModelOptions]="{standalone: true}">
      </form>

      <p class="home-page-links">
        <a routerLink="/" class="btn-links">Advanced Search</a>
        <a routerLink="/" class="btn-links">Syntax Guide</a>
        <a routerLink="/" class="btn-links">All Sets</a>
        <a routerLink="/random" class="btn-links">Random Card</a>
      </p>

      <p class="home-page-news">
        <a routerLink="/" class="home-page-item">
          <span class="pill orange" *ngIf="!isNew">New</span>
          <span>Warhammer previews</span>
        </a>
        <a routerLink="/" class="home-page-item">
          <span class="pill orange" *ngIf="isNew">New</span>
          <span>Dominaria United full set preview</span>
        </a>
        <a routerLink="/" class="home-page-item">
          <span class="pill orange" *ngIf="isNew">New</span>
          <span>Dominaria United Commander preview</span>
        </a>
        <a routerLink="/" class="home-page-item">
          <span class="pill orange" *ngIf="isNew">New</span>
          <span>Double Masters 2022 full preview</span>
        </a>
      </p>
    </div>
    <div class="home-page-cards">
      <div class="cards">
        <a >
          <img [src]="cardOne?.image_uris?.normal" [alt]="cardOne?.name" class="card ncc" [title]="cardOne?.name">
        </a>
        <a >
          <img [src]="cardTwo?.image_uris?.normal" [alt]="cardTwo?.name" class="card war" [title]="cardTwo?.name">
        </a>
        <a >
          <img [src]="cardThree?.image_uris?.normal" [alt]="cardThree?.name" class="card khm" [title]="cardThree?.name">
        </a>
        <a >
          <img [src]="cardFour?.image_uris?.normal" [alt]="cardFour?.name" class="card dom" [title]="cardFour?.name">
        </a>
        <a >
          <img [src]="cardFive?.image_uris?.normal" [alt]="cardFive?.name" class="card cmr" [title]="cardFive?.name">
        </a>
        <a >
          <img [src]="cardSix?.image_uris?.normal" [alt]="cardSix?.name" class="card stx" [title]="cardSix?.name">
        </a>
        <a >
          <img [src]="cardSeven?.image_uris?.normal" [alt]="cardSeven?.name" class="card aer" [title]="cardSeven?.name">
        </a>
      </div>
    </div>

  </div>




</div>
