
.card-profile .inner-flex {
  position: relative;
}
.card-profile {
  padding: 15px 2.5%;
  background-color: #F5F6FA;
  border-bottom: 1px dashed #CDCDCD;
  perspective: 2000px;
}
.inner-flex {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.card-image {
  transform-style: preserve-3d;
  transition: transform 200ms, -webkit-transform 200ms, -o-transform 200ms;
  border-radius: 100%;
  margin: 0 auto 15px;
  overflow: visible;
  padding-bottom: 139%;
  position: relative;
  z-index: 10000;
  height: 400px;
  width: 300px;
}

.card-image-front, .card-image-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.card-image-front {
  transform: rotateY(0deg);
}
.card-image .card {
  transition: transform 200ms, -webkit-transform 200ms, -o-transform 200ms;
  width: 100%;
  box-shadow: 1px 1px 8px rgb(0 0 0 / 50%);
}

.card {
  border-radius: 4.75% / 3.5%;
  background-image: repeating-linear-gradient(-55deg, #DDD, #DDD 5px, #CCC 5px, #CCC 10px);
  color: #000;
  display: block;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
}
.border-black {
  border: 1px solid #000000;
}
.card-actions {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row nowrap;
}
.card-actions>* {
  margin-right: 6px;
}
.button-n, .select-n {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  padding: 0 10px;
  height: 28px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none !important;
  color: #551a8b;
  background-color: #F9F7F5;
  border: 1px solid rgba(85,26,139,0.5);
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%);
  transition: color, border-color, background-color, fill;
  transition-duration: 50ms;
  transition-timing-function: linear;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
.card-text {
  display: block;
  border: 1px solid rgba(0,0,0,0.25);
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 4px;
  background: #fff;
  margin: 15px auto 0 auto;
  max-width: 500px;
  padding: 0 0 15px 0;
  font-size: 16px;
  color: #16161D;
  width: 100%;
}
.card-text-title {
  font-weight: bold;
  padding: 8px 12px 8px 12px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  line-height: 20px;
  font-size: 16px;
  display: flex;
  flex-flow: row wrap;
}
.card-text-card-name {
  margin: 0 0.25em 0 0;
}
.card-text-mana-cost {
  font-weight: normal;
}
.card-text-title .card-symbol {
  width: 16px;
  height: 16px;
}

/* TODO Fix url mappings to be dynamic with each card. */






.card-symbol {
  display: inline-block;
  margin: 1px 1px -1px 1px;
  border-radius: 500px;
  box-shadow: -1px 1px 0 rgb(0 0 0 / 85%);
  text-indent: -999em;
  overflow: hidden;
  background-size: 100% 100%;
  background-position: top left;
  print-color-adjust: exact;
  cursor: help;
}
.card-text-type-line, .card-text-stats {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 9px 12px 9px 12px;
  font-size: 15px;
}
.card-text-box {
  padding: 11px 6px 12px 12px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-size: 15px;
  line-height: 18px;
}
.card-text-oracle+.card-text-flavor {
  margin: 10px 0 0 0;
}
.card-text-flavor {
  font-family: MPlantin, Georgia, Times New Roman, serif;
  font-style: italic;
  font-size: 15px;
  line-height: 17px;
}
.card-text-stats {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 9px 12px 9px 12px;
  font-size: 15px;
  font-weight: normal;
}
.card-text-stats, .card-text-watermark, .card-text-artist, .card-text-storyspotlight, .card-text-attraction-lights {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 9px 12px;
}
.card-text-artist {
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card-text-artist a {
  color: #3b1260;
  cursor: pointer;
  text-decoration: none;
}
.card-legality {
  border-top: 2px solid rgba(0,0,0,0.05);
  padding: 12px 0 1px 0;
  display: flex;
  flex-flow: column wrap;
}
.card-legality-row {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 10px 0 10px;
}
.card-legality-item:nth-child(1) {width: 51%;}
.card-legality-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 24px;
}
.card-legality dt {
  font-size: 12px;
  flex: 1;
  order: 2;
  margin: 0 0 0 6px;
  line-height: 1;
}
.card-legality dd.not-legal {
  background-color: #AEAEAE;
}
.card-legality dd.legal {
  background-color: #75986E;
}
.card-legality dd.banned {
  background-color: rgba(167,31,42,0.58);
}
.card-legality dd.restricted {
  background-color: rgba(36,103,130,0.58);
}

.card-legality dd {
  font-size: 10px;
  text-transform: uppercase;
  color: #FFF;
  padding: 4px 0 4px 0;
  border-radius: 2px;
  width: 68px;
  text-align: center;
  order: 1;
}
.prints {
  width: 100%;
  font-size: 12px;
  margin: 20px auto 5px auto;
  display: flex;
  flex-flow: row wrap;
  max-width: 500px;
}
.prints-current {
  color: #FDFDFD;
  border-radius: 2px;
  margin: -5px 0 6px 0;
}
.prints-current-set {
  background: #343242;
  display: block;
  padding: 9px 9px 9px 39px;
  position: relative;
  border-radius: 2px 2px 0 0;
  text-decoration: none;
  
}

.prints-current-set-symbol {
  left: 9px;
  max-height: 24px;
  position: absolute;
  top: 14px;
  width: 24px;
  fill: #FFFFFF !important;
}
.prints-current-set-name {
  font-size: 16px;
  color: #FDFDFD;
  display: block;
  width: 100%;
}
.prints-current-set-details {
  color: #fff;
  display: block;
  margin: 2px 0 0 0;
  width: 100%;
}
svg:not(:root) { overflow: hidden; }

.print-langs {
  margin: 0 0 6px 0;
  display: flex;
  flex-flow: row nowrap;
}
.print-langs-item.current {
  background-color: #634496 !important;
}
.print-langs-item {
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  font-size: 11px;
  color: #FFF;
  padding: 5px 5px 5px 5px;
  background-color: #343242;
  text-align: center;
  white-space: nowrap;
}
table { border-collapse: collapse;border-spacing: 0; }
.prints-table thead tr { background-color: #343242; }
.prints-table th:first-child {width: 100%;}

.prints-table {
  width: 100%;
  display: table;
  border-radius: 2px 2px 3px 3px;
  background-color: #FFF;
  position: relative;
  font-size: 12px;
}
.prints-table svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 5px;
  left: -9px;
  background: #FDFDFD;
  border: 1px solid #cdcdcd;
  border-radius: 100%;
  padding: 3px 3px 3px 3px;
}

.prints-table th:first-child>a, .prints-table th:first-child>span {
  padding-left: 8px;
  text-align: left;
  position: relative;
  width: 100%;
}
.prints-table th>span, .prints-table th>a {
  display: block;
  width: 100%;
  padding: 7px 5px 6px 2px;
  color: #FFF;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 12px;
  text-align: right;
  min-width: 36px;
}

.prints-table tbody tr.current, .prints-table tbody tr:hover {
  background-color: rgba(0,0,0,0.04);
}
.prints-table tbody tr:last-child {
  border-bottom: 3px solid #343242;
}
.prints-table tbody tr {
  border-bottom: 1px solid #e7e9ec;
  overflow: hidden;
  border-left: 1px solid #cdcdcd;
}
td {
  vertical-align: middle;
  padding: 7px 4px 6px 13px;
}
td a {
  text-decoration: none;
  color: #343242;
}
th, th span, th a {
  text-decoration: none;
}
.prints-info-section h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 12px 0 5px 0;
}
.prints-info-section-note {
  font-style: italic;
  margin: 12px 0 5px 0;
}
.toolbox {
  padding: 25px 2.5%;
  background-color: #F5F6F7;
}
.toolbox .inner-flex {
  flex-flow: column nowrap;
}
.toolbox-column {
  margin: 0 auto 20px auto;
  order: 2;
  width: 100%;
  max-width: 280px;
  -webkit-box-ordinal-group: 3;
}
.toolbox-column h6 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px 0;
}
.toolbox-links {
  font-size: 14px;
}
#stores.toolbox-column {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.button-n.tcgplayer {
  color: #006885;
  border-color: #006885;
}
.toolbox-links .button-n {
  margin: 0 0 4px 0;
  width: 100%;
  justify-content: flex-start;
  max-width: 280px;
}
.button-n svg:first-child, .select-n svg:first-child {
  margin: 0 6px 0 -1px;
}
.button-n svg, .select-n svg {
  width: 14px;
  height: 14px;
}
b, i {
  font-style: inherit;
  font-weight: inherit;
}
.currency-usd {
  color: #006885 !important;
  text-align: right !important;
  white-space: nowrap !important;
}
.currency-tix {
  color: #DA4100 !important;
  text-align: right !important;
  white-space: nowrap !important;
}
.currency-eur {
  color: #8B3F8A !important;
  text-align: right !important;
  white-space: nowrap !important;
}
.button-n span.price, .select-n span.price {
  margin-left: auto;
  font-size: 14px;
  line-height: 14px;
}
.button-n.tcgplayer path, .tcgplayer.select-n path {
  fill: #006885;
}
.button-n.cardhoarder, .cardhoarder.select-n {
  color: rgba(191,76,27,0.9);
  border-color: rgba(207,69,11,0.5);
}
li {
  list-style-type: none;
}

.rarity-uncommon {
  fill: #6C848C;
}
.rarity-common {
  fill: #16161D;
}
.rarity-rare {
  fill: #C19C00;
}




/* Media queries for page breaks. */
@media screen and (min-width: 980px) {
  .card-profile {
    padding: 20px 2.5% 64px 2.5%;
    perspective: 1000px;
  }
  .card-profile .inner-flex {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .card-image {
    margin: 0;
    flex: 0 0 336px;
  }
  .card-actions {
    left: 0;
    position: absolute;
    top: 484px;
    width: 336px;
  }
  .card-text {
    width: 36.5%;
    margin: 20px 0 -25px -15px;
    z-index: 1;
  }
  .card-text-title {
    padding: 9px 12px 8px 27px;
  }
  .card-text-type-line, .card-text-stats {
    padding: 9px 12px 9px 27px;
  }
  .card-text-box {
    padding: 11px 12px 12px 27px;
  }
  .card-text-stats, .card-text-watermark, .card-text-artist, .card-text-storyspotlight, .card-text-attraction-lights {
    padding: 10px 12px 10px 27px;
  }
  .card-text-stats {
    padding: 9px 12px 9px 27px;
  }
  .card-text-artist {
    padding: 10px 12px 10px 27px;
  }
  .card-legality-row {
    padding: 0 2px 0 25px;
  }
  .prints {
    flex-flow: column nowrap;
    width: 35.0%;
    margin: 20px 0 0 10px;
    max-width: 400px;
  }
  .prints-current {
    margin-top: -20px;
  }
}

@media screen and (min-width: 765px) {
  .toolbox .inner-flex {
    flex-flow: row nowrap;
  }
  .toolbox-column {
    width: 40%;
    padding: 0 10px 0 0;
    flex-grow: 1;
    margin: 0;
    max-width: none;
  }
  #stores.toolbox-column {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}


@media screen and (min-width: 720px) {
  .card-profile .inner-flex {
    /*flex-flow: row wrap;*/
    justify-content: center;
  }
  .card-image {
    flex: 0 0 336px;
  }
  .card-text {
    width: 36.5%;
    margin: 20px 0 -25px -15px;
    z-index: 1;
  }
}

@media screen and (min-width: 350px) {
  .card-image {
    padding-bottom: 0;
    height: 468px;
    width: 336px;
  }
}
